<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="laptop" class="com.athira.Laptop">

<!--        Setter Injection-->
<!--        <property name = "price" value = "2000" />-->

<!--        Constructor Injection-->
<!--        <constructor-arg name ="price" value="2020" />-->

<!--            Setter Injection-->
<!--            <property name = "price" value = "2000" />
        <property name = "charger" ref = "charger1" />-->

<!--        Constructor Injection-->
        <constructor-arg name ="charger" ref="charger1" />
        <constructor-arg name ="price" value="2020" />


    </bean>

    <bean id="charger1" class="com.athira.Charger">
</bean>


<!--Field Constructor in spring-->
    <bean id="computer" class="com.athira.Computer" autowire="byType">
    </bean>

    <bean id="mouse" class="com.athira.Mouse" >
    </bean>

    <bean id="trackpad" class="com.athira.Trackpad" primary="true">
    </bean>

</beans>